# Pandas Analysis

In [2]:
import pandas as pd
from datasets import load_dataset

# Load Data
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

# Data Cleanup
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

In [3]:
df.describe()

                     job_posted_date  salary_year_avg  salary_hour_avg
count                         785741     22003.000000     10662.000000
mean   2023-06-25 16:02:11.860248576    123286.274072        47.016598
min              2023-01-01 00:00:04     15000.000000         8.000000
25%              2023-03-20 10:05:48     90000.000000        27.500000
50%              2023-06-29 06:11:38    115000.000000        45.980000
75%              2023-09-27 01:01:16    150000.000000        61.159996
max              2023-12-31 23:59:58    960000.000000       391.000000
std                              NaN     48312.449482        21.890738

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 785741 entries, 0 to 785740
Data columns (total 17 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   job_title_short        785741 non-null  object
 1   job_title              785740 non-null  object
 2   job_location           784696 non-null  object
 3   job_via                785733 non-null  object
 4   job_schedule_type      773074 non-null  object
 5   job_work_from_home     785741 non-null  bool
 6   search_location        785741 non-null  object
 7   job_posted_date        785741 non-null  datetime64[ns]
 8   job_no_degree_mention  785741 non-null  bool
 9   job_health_insurance   785741 non-null  bool
 10  job_country            785692 non-null  object
 11  salary_rate            33067 non-null   object
 12  salary_year_avg        22003 non-null   float64
 13  salary_hour_avg        10662 non-null   float64
 14  company_name           785723 non-null  object
 15  job_skills             668704 non-null  object
 16  job_type_skills        668704 non-null  object
dtypes: bool(3), datetime64[ns](1), float64(2), object(11)
memory usage: 86.2+ MB

In [6]:
df.count()

job_title_short          785741
job_title                785740
job_location             784696
job_via                  785733
job_schedule_type        773074
job_work_from_home       785741
search_location          785741
job_posted_date          785741
job_no_degree_mention    785741
job_health_insurance     785741
job_country              785692
salary_rate               33067
salary_year_avg           22003
salary_hour_avg           10662
company_name             785723
job_skills               668704
job_type_skills          668704
dtype: int64

In [7]:
# Must be called on a numeric column or errors out
df.median()

TypeError: Cannot convert [['Senior Data Engineer' 'Data Analyst' 'Data Engineer' ...
  'Business Analyst' 'Data Engineer' 'Software Engineer']
 ['Senior Clinical Data Engineer / Principal Clinical Data Engineer ...'
  'Data Analyst' 'Data Engineer/Scientist/Analyst, Mid or Senior (m/f/x)'
  ... 'Commercial Analyst - Start Now'
  'Principal Associate, Data Engineer (Remote-Eligible)'
  'AWS System Analyst']
 ['Watertown, CT' 'Guadalajara, Jalisco, Mexico' 'Berlin, Germany' ...
  'Malaysia' 'Newark, New Jersey, Amerika Serikat' 'India']
 ['via Work Nearby' 'via BeBee México' 'via LinkedIn' ...
  'melalui Ricebowl' 'melalui Recruit.net' 'melalui Trigyn']
 ['Full-time' 'Full-time' 'Full-time' ... 'Pekerjaan tetap'
  'Pekerjaan tetap' 'Pekerjaan tetap']
 ['Texas, United States' 'Mexico' 'Germany' ... 'Malaysia' 'Sudan'
  'India']] to numeric

In [8]:
df['salary_year_avg'].median()

115000.0

In [9]:
df['salary_year_avg'].min()

15000.0

In [10]:
# Index of the min value
df['salary_year_avg'].idxmin()

665729

In [12]:
# Get minimum row by index
min_salary_row_index = df['salary_year_avg'].idxmin()

df.iloc[min_salary_row_index]

job_title_short                                              Data Engineer
job_title                                           Data Engineer - Hadoop
job_location                                                        Brazil
job_via                                                       via LinkedIn
job_schedule_type                                                Full-time
job_work_from_home                                                   False
search_location                                                     Brazil
job_posted_date                                        2023-12-09 10:05:30
job_no_degree_mention                                                 True
job_health_insurance                                                 False
job_country                                                         Brazil
salary_rate                                                           year
salary_year_avg                                                    15000.0
salary_hour_avg                                                        NaN
company_name                                               Net2Source Inc.
job_skills               ['java', 'python', 'oracle', 'aws', 'hadoop', ...
job_type_skills          {'cloud': ['oracle', 'aws'], 'libraries': ['ha...
Name: 665729, dtype: object

In [13]:
df['job_title_short'].unique()

array(['Senior Data Engineer', 'Data Analyst', 'Data Engineer',
       'Business Analyst', 'Data Scientist', 'Machine Learning Engineer',
       'Senior Data Analyst', 'Cloud Engineer', 'Senior Data Scientist',
       'Software Engineer'], dtype=object)

In [14]:
# Counts the number of records for the unique values
df['job_title_short'].value_counts()

job_title_short
Data Analyst                 196075
Data Engineer                186241
Data Scientist               172286
Business Analyst              49063
Software Engineer             44929
Senior Data Engineer          44563
Senior Data Scientist         36957
Senior Data Analyst           29216
Machine Learning Engineer     14080
Cloud Engineer                12331
Name: count, dtype: int64

## Group By

In [16]:
df.groupby(by='job_title_short')

In [20]:
# Add in the Aggregation columns
df.groupby(by='job_title_short')['salary_year_avg']

In [22]:
# Add the Aggregation method to perform on the Aggregation column
df.groupby(by='job_title_short')['salary_year_avg'].median()

job_title_short
Business Analyst              85000.0
Cloud Engineer                90000.0
Data Analyst                  90000.0
Data Engineer                125000.0
Data Scientist               127500.0
Machine Learning Engineer    106415.0
Senior Data Analyst          111175.0
Senior Data Engineer         147500.0
Senior Data Scientist        155500.0
Software Engineer             99150.0
Name: salary_year_avg, dtype: float64

In [23]:
# Group By Multiple columns; Note that multiple columns need to be in a list
df.groupby(by=['job_title_short', 'job_country'])['salary_year_avg'].median()

job_title_short    job_country
Business Analyst   Afghanistan        NaN
                   Albania            NaN
                   Algeria            NaN
                   Angola             NaN
                   Argentina      71100.0
                                   ...
Software Engineer  Venezuela          NaN
                   Vietnam        53600.0
                   Yemen              NaN
                   Zambia             NaN
                   Zimbabwe           NaN
Name: salary_year_avg, Length: 1387, dtype: float64

In [25]:
# Aggregation on multiple columns.  Note that multiple columns need to be in a list
df.groupby(by='job_title_short')[['salary_year_avg', 'salary_hour_avg']].median()

                           salary_year_avg  salary_hour_avg
job_title_short
Business Analyst                   85000.0        40.362499
Cloud Engineer                     90000.0        40.000000
Data Analyst                       90000.0        32.615002
Data Engineer                     125000.0        58.500000
Data Scientist                    127500.0        47.500000
Machine Learning Engineer         106415.0        47.535000
Senior Data Analyst               111175.0        47.500000
Senior Data Engineer              147500.0        61.500000
Senior Data Scientist             155500.0        47.620003
Software Engineer                  99150.0        47.560001

In [27]:
# Multiple Operations; List of aggregation methods using agg method in string name form
df.groupby(by='job_title_short')['salary_year_avg'].agg(['min', 'max', 'median'])

                               min       max    median
job_title_short
Business Analyst           16500.0  387460.0   85000.0
Cloud Engineer             42000.0  280000.0   90000.0
Data Analyst               25000.0  650000.0   90000.0
Data Engineer              15000.0  525000.0  125000.0
Data Scientist             27000.0  960000.0  127500.0
Machine Learning Engineer  30000.0  325000.0  106415.0
Senior Data Analyst        30000.0  425000.0  111175.0
Senior Data Engineer       35000.0  425000.0  147500.0
Senior Data Scientist      45000.0  890000.0  155500.0
Software Engineer          28000.0  375000.0   99150.0

# Problems

In [28]:
import pandas as pd
from datasets import load_dataset

# Load Data
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

# Data Cleanup
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

## Calculate Mean Salary (1.26.1) - Problem

In [32]:
mean_salary = df['salary_year_avg'].mean()
print(mean_salary)

123286.27407182401

## Calculate Median Salary (1.26.2) - Problem

In [33]:
median_salary = df['salary_year_avg'].median()
print(median_salary)

115000.0

## Average Hourly Salary by Job Title (1.26.3) - Problem

In [35]:
avg_hourly_by_job = df.groupby('job_title_short')['salary_hour_avg'].mean()
print(avg_hourly_by_job)

job_title_short
Business Analyst             42.723415
Cloud Engineer               45.560715
Data Analyst                 38.106918
Data Engineer                57.196998
Data Scientist               49.361403
Machine Learning Engineer    48.477935
Senior Data Analyst          47.661218
Senior Data Engineer         62.848496
Senior Data Scientist        54.105631
Software Engineer            46.452019
Name: salary_hour_avg, dtype: float64

## Job with Lowest Hourly Salary (1.26.4) - Problem

In [40]:
min_index = df['salary_hour_avg'].idxmin()

min_hourly_job = df.iloc[min_index][['job_title_short', 'salary_hour_avg']]

print(min_hourly_job)

job_title_short    Data Scientist
salary_hour_avg               8.0
Name: 88185, dtype: object

## Job Count by Country (1.26.5) - Problem

In [42]:
job_count_by_country = df.groupby('job_country').size()
job_count_by_country

job_country
Afghanistan      16
Albania         119
Algeria         111
Angola           11
Argentina      8736
               ...
Venezuela        69
Vietnam        2414
Yemen            10
Zambia          104
Zimbabwe         81
Length: 160, dtype: int64